[submodule ".github"]
	path = .github
	url = https://github.com/CodeGamified/.github.git
[submodule "pong"]
	path = pong
	url = https://github.com/CodeGamified/pong.git
[submodule ".data"]
	path = .data
	url = https://github.com/CodeGamified/.data.git
