[submodule ".github"]
	path = .github
	url = https://github.com/CodeGamified/.github.git
[submodule ".engine"]
	path = .engine
	url = https://github.com/BOOTFILE-dev/.engine
[submodule ".bootstrap"]
	path = bootstrap
	url = https://github.com/CodeGamified/.bootstrap.git
[submodule ".data"]
	path = .data
	url = https://github.com/CodeGamified/.data.git
[submodule "pong"]
	path = pong
	url = https://github.com/CodeGamified/pong.git
[submodule "tanks"]
	path = tanks
	url = https://github.com/CodeGamified/tanks.git
[submodule "midi"]
	path = midi
	url = https://github.com/CodeGamified/midi.git
[submodule "bird"]
	path = bird
	url = https://github.com/CodeGamified/bird.git
[submodule "snake"]
	path = snake
	url = https://github.com/CodeGamified/snake.git
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/CodeGamified/asteroids.git
[submodule "tetris"]
	path = tetris
	url = https://github.com/CodeGamified/tetris.git
[submodule "minesweeper"]
	path = minesweeper
	url = https://github.com/CodeGamified/minesweeper.git
[submodule "breakout"]
	path = breakout
	url = https://github.com/CodeGamified/breakout.git
[submodule "checkers"]
	path = checkers
	url = https://github.com/CodeGamified/checkers.git
[submodule "chess"]
	path = chess
	url = https://github.com/CodeGamified/chess.git
[submodule "blackjack"]
	path = blackjack
	url = https://github.com/CodeGamified/blackjack.git
[submodule "pool"]
	path = pool
	url = https://github.com/CodeGamified/pool.git
[submodule "poker"]
	path = poker
	url = https://github.com/CodeGamified/poker.git
[submodule "racer"]
	path = racer
	url = https://github.com/CodeGamified/racer.git
[submodule "fighter"]
	path = fighter
	url = https://github.com/CodeGamified/fighter.git
